@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFFFFF;
}
#wrapper {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFFFF;
}
#wrapper #header {
	height:115px;
	background-color:rgba(255,0,0,0.5);
	padding-left:10px;
	padding-top:35px;
}
#wrapper #header h1 {
	margin-top:0px;
	margin-bottom:0px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:bold;
}
#wrapper #header h2 {
	margin-top:0px;
	margin-bottom:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#FFFFFF;
}
#wrapper #menu {
	height:50px;
	background-color:#FFFFFF;
}
#wrapper #menu ul {
	margin:0px;
	list-style-type:none;
	padding:0px;
}
#wrapper #menu ul li {
	float:left;
	width:150px;
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FF0000;
	text-align:center;
	line-height:45px;
	height:50px;
	font-weight:bold;
}
#wrapper #menu ul li a {
	text-decoration:none;
	width:150px;
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FF0000;
	text-align:center;
	line-height:45px;
	height:50px;
	font-weight:bold;
	display:block;
}
#wrapper #menu ul li a:hover {
	text-decoration:none;
	width:150px;
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-align:center;
	line-height:45px;
	height:50px;
	font-weight:bold;
	background-color:rgba(255,0,0,0.5);
	display:block;
}
#wrapper #content {
	min-height:600px;
	padding:10px;
	color:#FFFFFF;
	background-color:rgba(255,0,0,0.5);
}
#wrapper #content #searchresult {
	width:300px;
	margin-left:600px;
}
.newsitem {
	border-style:dashed;
	padding:5px;
	margin-bottom;10px;
	border-color:#0FF;
	border-width:1px;
}
.newsitem .newsdate {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#00F;
	margin-top:0px;
	margin-bottom:5px;
}
.newsitem .newstitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#30F;
	margin-top:0px;
	margin-bottom:5px;
}
.newsitem .newsparagraph {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:justify;
	margin-top:0px;
	margin-bottom:5px;
}
.newsitem .newsparagraph img {
	float:left;
	margin-right:5px;
	width:100px;
	height:60px;
}
.newsitem a {
	clear:both;
	margin-top:20px;
	text-decoration:none;
	font size:18px;
	font-weight:bold;
	color:#60F;	
}
.newsitem a:hover {
	clear:both;
	margin-top:20px;
	text-decoration:none;
	font size:18px;
	font-weight:bold;
	color:rgba(255,0,0,0.5);	
}
.newsdate {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:0px;
	margin-bottom:5px;
}
.newstitle {
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:10px;
	color:#00F;
}
.newsdetail {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	
}
.newsdetail img {
	float:left;
	margin-right:10px;
	width:200px;
	height:auto;
}
#wrapper #footer {
	height:35px;
	background-color:#FFFFFF;
	text-align:center;
	padding-top:15px;
	color:#FF0000;
}
.commenttextfield {
	width:300px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.commenttextarea {
	width:300px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.submitcommentbutton {
	border-style:ridge;
	border-width:3.5px;
	width:50px;
	height12.5px;
	border-radius:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	background-color:#FFCA73;
	color:#B96D7B;
}

/***************************************************** This is for font style @font face ********************************/


@font-face {
    font-family:cupulupunk;
    src: url('../fonts/cfun-webfont.eot');
    src: url('../fonts/cfun-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cfun-webfont.woff') format('woff'),
         url('../fonts/cfun-webfont.ttf') format('truetype'),
         url('../fonts/cfun-webfont.svg#cfunmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}